name: Run the benchmarking suite

on:
  workflow_call:

jobs:
  test:
    name: Run benchmarks
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Run the test suite
        run: |
          curl -fsSL https://pixi.sh/install.sh | sh
          export PATH="$HOME/.pixi/bin:$PATH"
          pixi run bench
          # pixi run bench_server # Commented out until we get `wrk` installed
