name: Create package

on:
    workflow_call:

jobs:
    package:
        name: Package
        runs-on: ubuntu-latest
        steps:
            - name: Checkout code
              uses: actions/checkout@v4
            - name: Set up Pixi
              uses: prefix-dev/setup-pixi@main
              with:
                  pixi-version: latest
                  cache: true
            - name: Run the package command
              run: |
                  pixi run mojo package lightbug_http -o lightbug_http.mojopkg
            - name: Upload package as artifact
              uses: actions/upload-artifact@v4
              with:
                  name: lightbug_http-package
                  path: lightbug_http.mojopkg
