name: Run the testing suite

on:
    workflow_call:

jobs:
    test:
        name: Run tests
        runs-on: ubuntu-latest
        steps:
            - name: Checkout code
              uses: actions/checkout@v4
            - name: Set up Pixi
              uses: prefix-dev/setup-pixi@v0.8.1
              with:
                  pixi-version: 0.59.0
                  cache: true
            - name: Run the test suite
              run: |
                  pixi run test
                  pixi run integration_tests_py
                  pixi run integration_tests_external
                  pixi run integration_tests_udp
