name: Run the testing suite

on:
  workflow_call:

jobs:
  test:
    name: Run tests
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Set up Pixi
        uses: prefix-dev/setup-pixi@v0.8.1
        with:
          pixi-version: v0.35.0
          cache: true
      - name: Run the test suite
        run: |
          curl -fsSL https://pixi.sh/install.sh | sh
          export PATH="$HOME/.pixi/bin:$PATH"
          pixi run test
          pixi run integration_tests_py
          pixi run integration_tests_external
          pixi run integration_tests_udp
